@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col">
    <div class="flex gap-2">
        <NavLink href="/PageCustomColors">Custom Theme Colors</NavLink>
        <NavLink href="/PageIconsMini">Icons Mini</NavLink>
        <NavLink href="/PageIconsOnline">Icon Online</NavLink>
        <NavLink href="/PageIconsSolid">Icon Solid</NavLink>
        <NavLink href="/PageIconColors">Icon Colors</NavLink>
        <NavLink href="/PageLineIcons">Line Icons</NavLink>
        <NavLink href="/PageTypography">Typography</NavLink>
        <NavLink href="/PageButtons">Buttons</NavLink>
        <NavLink href="/PageButtonGroups">Button Groups</NavLink>
        <NavLink href="/PageForm">Form Elements</NavLink>
    </div>
    <div>
    </div>
</div>