@page "/"
@using Maviray.Blazor.Components.Material.Components

<PageTitle>Home</PageTitle>

<div class="flex flex-col">
    <div class="flex gap-2">
        <NavLink href="/PageMaterialColors">Material Custom Theme Colors</NavLink>
        <NavLink href="/PageMaterialIconsMini">Material Icons Mini</NavLink>
        <NavLink href="/PageMaterialIconsOnline">Material Icon Online</NavLink>
        <NavLink href="/PageMaterialIconsSolid">Material Icon Solid</NavLink>
        <NavLink href="/PageMaterialIconColors">Material Icon Colors</NavLink>
        <NavLink href="/PageLineIcons">Line Icons</NavLink>
    </div>
    <div>
      
    </div>
</div>