@page "/PageLineIcons"
<PageTitle>Line Icons</PageTitle>

<div class="p-2 flex gap-2">
    <i class="lni lni-bar-chart-4 !text-xl"></i>
    <i class="lni lni-bar-chart-4 !text-2xl"></i>
    <i class="lni lni-bar-chart-4 !text-[28px]"></i>
</div>

@code {

}
