@page "/PageButtons"
@using Maviray.Blazor.Components.Material.Components.Inputs

<PageTitle>Buttons</PageTitle>

<div class="p-4 flex flex-col gap-2">
    <div class="flex gap-2">
        <MaviButton ButtonType="ButtonType.Primary"
                          ElementSize="ElementSize.Large"
                          Title="Primary Large"
                          TextTransform="TextTransform.Capitalize"
                          StartIcon="lni lni-chevron-left"
                          EndIcon="lni lni-check-circle-1">

        </MaviButton>

        <MaviButton ButtonType="ButtonType.Primary"
                          ElementSize="ElementSize.Regular"
                          Title="Primary Regular"
                          StartIcon="lni lni-check"
                          TextTransform="TextTransform.LowerCase">

        </MaviButton>

        <MaviButton ButtonType="ButtonType.Primary"
                          ElementSize="ElementSize.Small"
                          Title="Primary Small"
                          Endicon="lni lni-shield-2-check"
                          TextTransform="TextTransform.UpperCase">

        </MaviButton>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex gap-2">
            <MaviButton ButtonType="ButtonType.Default"
                        ElementSize="ElementSize.Large"
                        Title="Primary Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Primary"
                        ElementSize="ElementSize.Large"
                        Title="Primary Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Secondary"
                        ElementSize="ElementSize.Large"
                        Title="Secondary Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Success"
                        ElementSize="ElementSize.Large"
                        Title="Success Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
        </div>
        <div class="flex gap-2">
            <MaviButton ButtonType="ButtonType.Danger"
                        ElementSize="ElementSize.Large"
                        Title="Danger Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Warning"
                        ElementSize="ElementSize.Large"
                        Title="Warning Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Info"
                        ElementSize="ElementSize.Large"
                        Title="Info Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Dark"
                        ElementSize="ElementSize.Large"
                        Title="Dark Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
            <MaviButton ButtonType="ButtonType.Light"
                        ElementSize="ElementSize.Large"
                        Title="Light Disabled"
                        TextTransform="TextTransform.Capitalize"
                        StartIcon="lni lni-chevron-left"
                        EndIcon="lni lni-check-circle-1"
                        Disabled="true">

            </MaviButton>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <MaviButton ButtonType="ButtonType.Primary"
                    ElementSize="ElementSize.Large"
                    Title="Click"
                    Width="w-64"
                    TextTransform="TextTransform.Capitalize">

        </MaviButton>
        <MaviButton ButtonType="ButtonType.Primary"
                    ElementSize="ElementSize.Large"
                    Title="Click"
                    Width="w-48"
                    TextTransform="TextTransform.Capitalize">

        </MaviButton>
        <MaviButton ButtonType="ButtonType.Primary"
                    ElementSize="ElementSize.Large"
                    Title="Click"
                    Width="w-40"
                    TextTransform="TextTransform.Capitalize">

        </MaviButton>
        <MaviButton ButtonType="ButtonType.Primary"
                    ElementSize="ElementSize.Large"
                    Title="Click"
                    Width="w-32"
                    TextTransform="TextTransform.Capitalize">

        </MaviButton>
    </div>
    <div class="grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));">
        @foreach (var buttonVariant in Enum.GetValues<ButtonVariant>())
        {
            foreach (var buttonType in Enum.GetValues<ButtonType>())
            {
                <div class="flex gap-2 justify-center items-center p-4 border rounded-lg hover:shadow-lg transition-shadow bg-white min-h-[140px]">
                    <div class="flex flex-col gap-2">
                        <div class="flex gap-2">
                            @foreach (var elementSize in Enum.GetValues<ElementSize>())
                            {
                                <MaviButtonIcon Icon="lni lni-alarm-1"
                                                ButtonVariant="buttonVariant"
                                                ButtonType="buttonType"
                                                ElementSize="elementSize"
                                                Title="Like"/>
                            }
                        </div>
                        <div>
                            @buttonVariant @buttonType
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="flex gap-2">
        <MaviButtonIcon Icon="lni lni-alarm-1"
                        ButtonVariant="ButtonVariant.Filled"
                        ButtonType="ButtonType.Primary"
                        ElementSize="ElementSize.Regular"
                        Disabled="true"
                        Title="Like"/>
        <MaviButtonIcon Icon="lni lni-alarm-1"
                        ButtonVariant="ButtonVariant.Outlined"
                        ButtonType="ButtonType.Primary"
                        ElementSize="ElementSize.Regular"
                        Disabled="true"
                        Title="Like" />
        <MaviButtonIcon Icon="lni lni-alarm-1"
                        ButtonVariant="ButtonVariant.Text"
                        ButtonType="ButtonType.Primary"
                        ElementSize="ElementSize.Regular"
                        Disabled="true"
                        Title="Like"/>
    </div>
    <div class="grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));">
        @foreach (var buttonVariant in Enum.GetValues<ButtonVariant>())
        {
            foreach (var buttonType in Enum.GetValues<ButtonType>())
            {
                <div class="flex flex-col gap-2 justify-center items-center p-4 border rounded-lg hover:shadow-lg transition-shadow bg-white min-h-[140px]">
                    @foreach (var elementSize in Enum.GetValues<ElementSize>())
                    {
                        <MaviButton ButtonVariant="buttonVariant"
                                    ButtonType="buttonType"
                                    ElementSize="elementSize"
                                    Title="@GetButtonTitle(buttonType, elementSize)">

                        </MaviButton>
                    }
                </div>
            }
        }
    </div>
</div>

@code
{
    private string GetButtonTitle(ButtonType buttonType, ElementSize elementSize)
    {
        return $"{buttonType} {elementSize}";
    }
}
