@page "/PageMaterialColors"

<PageTitle>Material Colors</PageTitle>

<div class="w-full flex flex-col p-2 gap-2">
    <div class="w-full flex gap-2">
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-primary-one)">
                <div>--theme-primary-one</div>
            </div>
            <div class="h-8 bg-(--theme-primary-two)">
                <div>--theme-primary-two</div>
            </div>
            <div class="h-8 bg-(--theme-primary-three)">
                <div>--theme-primary-three</div>
            </div>
            <div class="h-8 bg-(--theme-primary-four)">
                <div>--theme-primary-four</div>
            </div>
            <div class="h-8 bg-(--theme-primary-five)">
                <div>--theme-primary-five</div>
            </div>
            <div class="h-8 bg-(--theme-primary-six)">
                <div>--theme-primary-six</div>
            </div>
            <div class="h-8 bg-(--theme-primary-seven)">
                <div>--theme-primary-seven</div>
            </div>
            <div class="h-8 bg-(--theme-primary-eight)">
                <div>--theme-primary-eight</div>
            </div>
            <div class="h-8 bg-(--theme-primary-nine)">
                <div>--theme-primary-nine</div>
            </div>
            <div class="h-8 bg-(--theme-primary-ten)">
                <div>--theme-primary-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-secondary-one)">
                <div>--theme-secondary-one</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-two)">
                <div>--theme-secondary-two</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-three)">
                <div>--theme-secondary-three</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-four)">
                <div>--theme-secondary-four</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-five)">
                <div>--theme-secondary-five</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-six)">
                <div>--theme-secondary-six</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-seven)">
                <div>--theme-secondary-seven</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-eight)">
                <div>--theme-secondary-eight</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-nine)">
                <div>--theme-secondary-nine</div>
            </div>
            <div class="h-8 bg-(--theme-secondary-ten)">
                <div>--theme-secondary-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-tertiary-one)">
                <div>--theme-tertiary-one</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-two)">
                <div>--theme-tertiary-two</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-three)">
                <div>--theme-tertiary-three</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-four)">
                <div>--theme-tertiary-four</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-five)">
                <div>--theme-tertiary-five</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-six)">
                <div>--theme-tertiary-six</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-seven)">
                <div>--theme-tertiary-seven</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-eight)">
                <div>--theme-tertiary-eight</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-nine)">
                <div>--theme-tertiary-nine</div>
            </div>
            <div class="h-8 bg-(--theme-tertiary-ten)">
                <div>--theme-tertiary-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-accent-one)">
                <div>--theme-accent-one</div>
            </div>
            <div class="h-8 bg-(--theme-accent-two)">
                <div>--theme-accent-two</div>
            </div>
            <div class="h-8 bg-(--theme-accent-three)">
                <div>--theme-accent-three</div>
            </div>
            <div class="h-8 bg-(--theme-accent-four)">
                <div>--theme-accent-four</div>
            </div>
            <div class="h-8 bg-(--theme-accent-five)">
                <div>--theme-accent-five</div>
            </div>
            <div class="h-8 bg-(--theme-accent-six)">
                <div>--theme-accent-six</div>
            </div>
            <div class="h-8 bg-(--theme-accent-seven)">
                <div>--theme-accent-seven</div>
            </div>
            <div class="h-8 bg-(--theme-accent-eight)">
                <div>--theme-accent-eight</div>
            </div>
            <div class="h-8 bg-(--theme-accent-nine)">
                <div>--theme-accent-nine</div>
            </div>
            <div class="h-8 bg-(--theme-accent-ten)">
                <div>--theme-accent-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-highlight-one)">
                <div>--theme-highlight-one</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-two)">
                <div>--theme-highlight-two</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-three)">
                <div>--theme-highlight-three</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-four)">
                <div>--theme-highlight-four</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-five)">
                <div>--theme-highlight-five</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-six)">
                <div>--theme-highlight-six</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-seven)">
                <div>--theme-highlight-seven</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-eight)">
                <div>--theme-highlight-eight</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-nine)">
                <div>--theme-highlight-nine</div>
            </div>
            <div class="h-8 bg-(--theme-highlight-ten)">
                <div>--theme-highlight-ten</div>
            </div>
        </div>
    </div>
    <div class="w-full flex gap-2">
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-alert-one)">
                <div>--theme-alert-one</div>
            </div>
            <div class="h-8 bg-(--theme-alert-two)">
                <div>--theme-alert-two</div>
            </div>
            <div class="h-8 bg-(--theme-alert-three)">
                <div>--theme-alert-three</div>
            </div>
            <div class="h-8 bg-(--theme-alert-four)">
                <div>--theme-alert-four</div>
            </div>
            <div class="h-8 bg-(--theme-alert-five)">
                <div>--theme-alert-five</div>
            </div>
            <div class="h-8 bg-(--theme-alert-six)">
                <div>--theme-alert-six</div>
            </div>
            <div class="h-8 bg-(--theme-alert-seven)">
                <div>--theme-alert-seven</div>
            </div>
            <div class="h-8 bg-(--theme-alert-eight)">
                <div>--theme-alert-eight</div>
            </div>
            <div class="h-8 bg-(--theme-alert-nine)">
                <div>--theme-alert-nine</div>
            </div>
            <div class="h-8 bg-(--theme-alert-ten)">
                <div>--theme-alert-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-warning-one)">
                <div>--theme-warning-one</div>
            </div>
            <div class="h-8 bg-(--theme-warning-two)">
                <div>--theme-warning-two</div>
            </div>
            <div class="h-8 bg-(--theme-warning-three)">
                <div>--theme-warning-three</div>
            </div>
            <div class="h-8 bg-(--theme-warning-four)">
                <div>--theme-warning-four</div>
            </div>
            <div class="h-8 bg-(--theme-warning-five)">
                <div>--theme-warning-five</div>
            </div>
            <div class="h-8 bg-(--theme-warning-six)">
                <div>--theme-warning-six</div>
            </div>
            <div class="h-8 bg-(--theme-warning-seven)">
                <div>--theme-warning-seven</div>
            </div>
            <div class="h-8 bg-(--theme-warning-eight)">
                <div>--theme-warning-eight</div>
            </div>
            <div class="h-8 bg-(--theme-warning-nine)">
                <div>--theme-warning-nine</div>
            </div>
            <div class="h-8 bg-(--theme-warning-ten)">
                <div>--theme-warning-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-info-one)">
                <div>--theme-info-one</div>
            </div>
            <div class="h-8 bg-(--theme-info-two)">
                <div>--theme-info-two</div>
            </div>
            <div class="h-8 bg-(--theme-info-three)">
                <div>--theme-info-three</div>
            </div>
            <div class="h-8 bg-(--theme-info-four)">
                <div>--theme-info-four</div>
            </div>
            <div class="h-8 bg-(--theme-info-five)">
                <div>--theme-info-five</div>
            </div>
            <div class="h-8 bg-(--theme-info-six)">
                <div>--theme-info-six</div>
            </div>
            <div class="h-8 bg-(--theme-info-seven)">
                <div>--theme-info-seven</div>
            </div>
            <div class="h-8 bg-(--theme-info-eight)">
                <div>--theme-info-eight</div>
            </div>
            <div class="h-8 bg-(--theme-info-nine)">
                <div>--theme-info-nine</div>
            </div>
            <div class="h-8 bg-(--theme-info-ten)">
                <div>--theme-info-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-success-one)">
                <div>--theme-success-one</div>
            </div>
            <div class="h-8 bg-(--theme-success-two)">
                <div>--theme-success-two</div>
            </div>
            <div class="h-8 bg-(--theme-success-three)">
                <div>--theme-success-three</div>
            </div>
            <div class="h-8 bg-(--theme-success-four)">
                <div>--theme-success-four</div>
            </div>
            <div class="h-8 bg-(--theme-success-five)">
                <div>--theme-success-five</div>
            </div>
            <div class="h-8 bg-(--theme-success-six)">
                <div>--theme-success-six</div>
            </div>
            <div class="h-8 bg-(--theme-success-seven)">
                <div>--theme-success-seven</div>
            </div>
            <div class="h-8 bg-(--theme-success-eight)">
                <div>--theme-success-eight</div>
            </div>
            <div class="h-8 bg-(--theme-success-nine)">
                <div>--theme-success-nine</div>
            </div>
            <div class="h-8 bg-(--theme-success-ten)">
                <div>--theme-success-ten</div>
            </div>
        </div>
    </div>
    <div class="w-full flex gap-2">
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-light-one)">
                <div>--theme-light-one</div>
            </div>
            <div class="h-8 bg-(--theme-light-two)">
                <div>--theme-light-two</div>
            </div>
            <div class="h-8 bg-(--theme-light-three)">
                <div>--theme-light-three</div>
            </div>
            <div class="h-8 bg-(--theme-light-four)">
                <div>--theme-light-four</div>
            </div>
            <div class="h-8 bg-(--theme-light-five)">
                <div>--theme-light-five</div>
            </div>
            <div class="h-8 bg-(--theme-light-six)">
                <div>--theme-light-six</div>
            </div>
            <div class="h-8 bg-(--theme-light-seven)">
                <div>--theme-light-seven</div>
            </div>
            <div class="h-8 bg-(--theme-light-eight)">
                <div>--theme-light-eight</div>
            </div>
            <div class="h-8 bg-(--theme-light-nine)">
                <div>--theme-light-nine</div>
            </div>
            <div class="h-8 bg-(--theme-light-ten)">
                <div>--theme-light-ten</div>
            </div>
        </div>
        <div class="w-64 flex flex-col gap-1">
            <div class="h-8 bg-(--theme-dark-one)">
                <div>--theme-dark-one</div>
            </div>
            <div class="h-8 bg-(--theme-dark-two)">
                <div>--theme-dark-two</div>
            </div>
            <div class="h-8 bg-(--theme-dark-three)">
                <div>--theme-dark-three</div>
            </div>
            <div class="h-8 bg-(--theme-dark-four)">
                <div>--theme-dark-four</div>
            </div>
            <div class="h-8 bg-(--theme-dark-five)">
                <div>--theme-dark-five</div>
            </div>
            <div class="h-8 bg-(--theme-dark-six)">
                <div>--theme-dark-six</div>
            </div>
            <div class="h-8 bg-(--theme-dark-seven)">
                <div>--theme-dark-seven</div>
            </div>
            <div class="h-8 bg-(--theme-dark-eight)">
                <div>--theme-dark-eight</div>
            </div>
            <div class="h-8 bg-(--theme-dark-nine)">
                <div>--theme-dark-nine</div>
            </div>
            <div class="h-8 bg-(--theme-dark-ten)">
                <div>--theme-dark-ten</div>
            </div>
        </div>
    </div>
</div>