@page "/PageMaterialIconsSolid"
@using Maviray.Blazor.Components.Core.Enums
@using Maviray.Blazor.Components.Material.Components.DataDisplay.Icons
<PageTitle>Material Icons Solid</PageTitle>


@while (_stackHasItems)
{
    <div class="container flex justify-between">
        @foreach (var icon in GetSixPack())
        {
            <div class="flex flex-col items-center p-4">
                <MaviIconSolid MaviIconSolidType="@icon" IconColor="IconColor.DimGrey" IconSize="IconSize.Medium"></MaviIconSolid>
                <span>@icon</span>
            </div>
        }
    </div>
}

@code {
    private readonly Stack<MaviIconSolidType> _iconStack = new();

    private bool _stackHasItems;

    private void PopulateStack()
    {
        foreach (var iconType in (MaviIconSolidType[])Enum.GetValues(typeof(MaviIconSolidType)))
        {
            _iconStack.Push(iconType);
            _stackHasItems = true;
        }
    }

    private IEnumerable<MaviIconSolidType> GetSixPack()
    {
        List<MaviIconSolidType> sixPackList = [];

        for (var i = 0; i < 6; i++)
        {
            if (_iconStack.Any())
            {
                sixPackList.Add(_iconStack.Pop());
            }
            else
            {
                _stackHasItems = false;
            }
        }

        return sixPackList;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PopulateStack();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        PopulateStack();

        if (firstRender)
        {
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}