@import "tailwindcss";

/* Tailwind v4 @theme section maps CSS vars to Tailwind tokens */
@theme {
    /* Colors use CSS vars so runtime overrides work */
    --header-height: 0px;
    --footer-height: 0px;
    --font-lato: "Lato", "sans-serif";
    --font-montserrat: "Montserrat", "sans-serif";
    --font-oswald: "Oswald", "sans-serif";
    --font-roboto-serif: "Roboto Serif", "sans-serif";
    --theme-primary-one: #0050D2;
    --theme-primary-two: #1A62D7;
    --theme-primary-three: #3373DB;
    --theme-primary-four: #4D84E0;
    --theme-primary-five: #6696E4;
    --theme-primary-six: #80A7E9;
    --theme-primary-seven: #99B9ED;
    --theme-primary-eight: #B2CAF1;
    --theme-primary-nine: #CCDCF6;
    --theme-primary-ten: #E5EDFA;
    --theme-secondary-one: #2649A5;
    --theme-secondary-two: #3C5BAE;
    --theme-secondary-three: #516DB7;
    --theme-secondary-four: #6780C0;
    --theme-secondary-five: #7D92C9;
    --theme-secondary-six: #92A4D2;
    --theme-secondary-seven: #A8B6DB;
    --theme-secondary-eight: #BEC8E4;
    --theme-secondary-nine: #D4DBED;
    --theme-secondary-ten: #E9EDF6;
    --theme-tertiary-one: #7BCA65;
    --theme-tertiary-two: #88CF74;
    --theme-tertiary-three: #95D584;
    --theme-tertiary-four: #A3DA93;
    --theme-tertiary-five: #B0DFA3;
    --theme-tertiary-six: #BDE5B2;
    --theme-tertiary-seven: #CAEAC1;
    --theme-tertiary-eight: #D7EFD1;
    --theme-tertiary-nine: #E5F4E0;
    --theme-tertiary-ten: #F2FAF0;
    --theme-accent-one: #75E7BC;
    --theme-accent-two: #83E9C3;
    --theme-accent-three: #91ECC9;
    --theme-accent-four: #9EEED0;
    --theme-accent-five: #ACF1D7;
    --theme-accent-six: #BAF3DD;
    --theme-accent-seven: #C8F5E4;
    --theme-accent-eight: #D6F8EB;
    --theme-accent-nine: #E3FAF2;
    --theme-accent-ten: #F1FDF8;
    --theme-highlight-one: #F75880;
    --theme-highlight-two: #F8698D;
    --theme-highlight-three: #F97999;
    --theme-highlight-four: #F98AA6;
    --theme-highlight-five: #FA9BB3;
    --theme-highlight-six: #FBABBF;
    --theme-highlight-seven: #FCBCCC;
    --theme-highlight-eight: #FDCDD9;
    --theme-highlight-nine: #FDDEE6;
    --theme-highlight-ten: #FEEEF2;
    --theme-alert-one: #E02E2A;
    --theme-alert-two: #E3423F;
    --theme-alert-three: #E65754;
    --theme-alert-four: #E96C69;
    --theme-alert-five: #EC817F;
    --theme-alert-six: #EF9694;
    --theme-alert-seven: #F2ABA9;
    --theme-alert-eight: #F5C0BF;
    --theme-alert-nine: #F8D5D4;
    --theme-alert-ten: #FBEAE9;
    --theme-warning-one: #EF6C00;
    --theme-warning-two: #F07A19;
    --theme-warning-three: #F28932;
    --theme-warning-four: #F3984C;
    --theme-warning-five: #F5A666;
    --theme-warning-six: #F7B57F;
    --theme-warning-seven: #F8C499;
    --theme-warning-eight: #FAD2B2;
    --theme-warning-nine: #FBE1CC;
    --theme-warning-ten: #FDF0E5;
    --theme-info-one: #0088D1;
    --theme-info-two: #1993D5;
    --theme-info-three: #329FDA;
    --theme-info-four: #4CABDE;
    --theme-info-five: #66B7E3;
    --theme-info-six: #7FC3E8;
    --theme-info-seven: #99CFEC;
    --theme-info-eight: #B2DBF1;
    --theme-info-nine: #CCE7F5;
    --theme-info-ten: #E5F3FA;
    --theme-success-one: #2F7D31;
    --theme-success-two: #438A45;
    --theme-success-three: #58975A;
    --theme-success-four: #6DA46E;
    --theme-success-five: #82B183;
    --theme-success-six: #97BE98;
    --theme-success-seven: #ABCBAC;
    --theme-success-eight: #C0D8C1;
    --theme-success-nine: #D5E5D5;
    --theme-success-ten: #EAF2EA;
    --theme-light-one: #5A5A5A;
    --theme-light-two: #707070;
    --theme-light-three: #868686;
    --theme-light-four: #9D9D9D;
    --theme-light-five: #B3B3B3;
    --theme-light-six: #CACACA;
    --theme-light-seven: #E0E0E0;
    --theme-light-eight: #E9E9E9;
    --theme-light-nine: #F3F3F3;
    --theme-light-ten: #FCFCFC;
    --theme-dark-one: #000000;
    --theme-dark-two: #1A1A1A;
    --theme-dark-three: #333333;
    --theme-dark-four: #4D4D4D;
    --theme-dark-five: #666666;
    --theme-dark-six: #808080;
    --theme-dark-seven: #999999;
    --theme-dark-eight: #B2B2B2;
    --theme-dark-nine: #CCCCCC;
    --theme-dark-ten: #E5E5E5;
}
