@import "tailwindcss";

@theme {
    /* Screen sizes */
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;
    --breakpoint-5xl: 144rem;
    --breakpoint-6xl: 160rem;
    --breakpoint-7xl: 176rem;
}