@page "/PageIconsMini"

<PageTitle>Icons Mini</PageTitle>

@while (_stackHasItems)
{
    <div class="container flex justify-between">
        @foreach (var icon in GetSixPack())
        {
            <div class="flex flex-col items-center p-4">
                <MaviIconMini MaviIconMiniType="@icon" IconColor="IconColor.DimGrey" IconSize="IconSize.Medium"></MaviIconMini>
                <span>@icon</span>
            </div>
        }
    </div>
}

@code {
    private readonly Stack<MaviIconMiniType> _iconStack = new();

    private bool _stackHasItems;

    private void PopulateStack()
    {
        foreach (var iconType in (MaviIconMiniType[])Enum.GetValues(typeof(MaviIconMiniType)))
        {
            _iconStack.Push(iconType);
            _stackHasItems = true;
        }
    }

    private IEnumerable<MaviIconMiniType> GetSixPack()
    {
        List<MaviIconMiniType> sixPackList = [];

        for (var i = 0; i < 6; i++)
        {
            if (_iconStack.Any())
            {
                sixPackList.Add(_iconStack.Pop());
            }
            else
            {
                _stackHasItems = false;
            }
        }

        return sixPackList;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PopulateStack();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        PopulateStack();

        if (firstRender)
        {
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}