@page "/PageIconColors"

<PageTitle>Icon Colors</PageTitle>

<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Icon Colors</h1>

    <div class="grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));">
        @foreach (var iconColor in Enum.GetValues<IconColor>())
        {
            <div class="flex flex-col justify-center items-center p-4 border rounded-lg hover:shadow-lg transition-shadow bg-white min-h-[140px]">
                <div class="flex p-4 gap-2">
                    <MaviIconMini MaviIconMiniType="MaviIconMiniType.XCircleMini" IconColor="@iconColor" IconSize="IconSize.Medium"></MaviIconMini>
                    <MaviIconOnline MaviIconOnlineType="MaviIconOnlineType.XCircleOnline" IconColor="@iconColor" IconSize="IconSize.Medium"></MaviIconOnline>
                    <MaviIconSolid MaviIconSolidType="MaviIconSolidType.XCircleSolid" IconColor="@iconColor" IconSize="IconSize.Medium"></MaviIconSolid>
                </div>
                <span class="mt-2 text-sm text-center text-gray-700"><span class="font-semibold">IconColor.</span>@iconColor</span>
            </div>
        }
    </div>
</div>