@page "/PageIconColors"

<PageTitle>Icon Colors</PageTitle>

@while (_stackHasItems)
{
    <div class="container flex justify-between">
        @foreach (var iconColor in GetSixPack())
        {
            <div class="flex flex-col gap-1">
                <div>
                    @iconColor
                </div>
                <div class="flex p-4 gap-2">
                    <MaviIconMini MaviIconMiniType="MaviIconMiniType.XCircleMini" IconColor="@iconColor" IconSize="IconSize.Medium"></MaviIconMini>
                    <MaviIconOnline MaviIconOnlineType="MaviIconOnlineType.XCircleOnline" IconColor="@iconColor" IconSize="IconSize.Medium"></MaviIconOnline>
                    <MaviIconSolid MaviIconSolidType="MaviIconSolidType.XCircleSolid" IconColor="@iconColor" IconSize="IconSize.Medium"></MaviIconSolid>
                </div>
            </div>
        }
    </div>
}

@code {
    private readonly Stack<IconColor> _iconStack = new();

    private bool _stackHasItems;

    private void PopulateStack()
    {
        foreach (var iconType in (IconColor[])Enum.GetValues(typeof(IconColor)))
        {
            _iconStack.Push(iconType);
            _stackHasItems = true;
        }
    }

    private IEnumerable<IconColor> GetSixPack()
    {
        List<IconColor> sixPackList = [];

        for (var i = 0; i < 6; i++)
        {
            if (_iconStack.Any())
            {
                sixPackList.Add(_iconStack.Pop());
            }
            else
            {
                _stackHasItems = false;
            }
        }

        return sixPackList;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PopulateStack();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        PopulateStack();

        if (firstRender)
        {
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}